body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:700px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:314px;
  top:120px;
  width:145px;
  height:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:262px;
  top:269px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:226px;
  top:208px;
  width:85px;
  height:19px;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:340px;
  top:208px;
  width:109px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:357px;
  top:269px;
  width:112px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:262px;
  top:328px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:340px;
  top:328px;
  width:97px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:198px;
  top:379px;
  width:113px;
  height:16px;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:340px;
  top:379px;
  width:200px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17 {
  position:absolute;
  left:262px;
  top:443px;
  width:77px;
  height:30px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u18 {
  position:absolute;
  left:439px;
  top:443px;
  width:77px;
  height:30px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u19 {
  position:absolute;
  left:50px;
  top:10px;
  width:650px;
  height:80px;
  font-size:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:80px;
}
#u20 {
  position:absolute;
  left:2px;
  top:28px;
  width:646px;
  word-wrap:break-word;
}
