body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:374px;
  top:110px;
  width:97px;
  height:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:90px;
  top:161px;
  width:105px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:24px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:540px;
  top:166px;
  width:200px;
  height:22px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5 {
  position:absolute;
  left:459px;
  top:166px;
  width:81px;
  height:18px;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:90px;
  top:217px;
  width:330px;
  height:40px;
  font-size:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:40px;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:326px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:430px;
  top:217px;
  width:170px;
  height:40px;
  font-size:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:90px;
  top:10px;
  width:650px;
  height:80px;
  font-size:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:80px;
}
#u12 {
  position:absolute;
  left:2px;
  top:28px;
  width:646px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:90px;
  top:302px;
  width:655px;
  height:165px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:30px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:321px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:325px;
  top:0px;
  width:325px;
  height:30px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:321px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:30px;
  width:325px;
  height:30px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:321px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:325px;
  top:30px;
  width:325px;
  height:30px;
  color:#000099;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:321px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:60px;
  width:325px;
  height:30px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:321px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:325px;
  top:60px;
  width:325px;
  height:30px;
  color:#000099;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:321px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:90px;
  width:325px;
  height:30px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:321px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:325px;
  top:90px;
  width:325px;
  height:30px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:321px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:120px;
  width:325px;
  height:40px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:40px;
}
#u31 {
  position:absolute;
  left:2px;
  top:12px;
  width:321px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:325px;
  top:120px;
  width:325px;
  height:40px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:40px;
}
#u33 {
  position:absolute;
  left:2px;
  top:12px;
  width:321px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:660px;
  top:490px;
  width:80px;
  height:30px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u35 {
  position:absolute;
  left:90px;
  top:267px;
  width:80px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u36 {
  position:absolute;
  left:200px;
  top:267px;
  width:80px;
  height:25px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
