body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:725px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:344px;
  top:122px;
  width:97px;
  height:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:75px;
  top:140px;
  width:145px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:24px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:125px;
  top:174px;
  width:200px;
  height:22px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5 {
  position:absolute;
  left:75px;
  top:174px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:525px;
  top:174px;
  width:200px;
  height:22px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8 {
  position:absolute;
  left:475px;
  top:174px;
  width:49px;
  height:18px;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:78px;
  top:250px;
  width:652px;
  height:706px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:113px;
  top:0px;
  width:146px;
  height:30px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:259px;
  top:0px;
  width:120px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:379px;
  top:0px;
  width:129px;
  height:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:508px;
  top:0px;
  width:139px;
  height:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:30px;
  width:113px;
  height:163px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:163px;
}
#u22 {
  position:absolute;
  left:2px;
  top:74px;
  width:109px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:113px;
  top:30px;
  width:146px;
  height:163px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:163px;
}
#u24 {
  position:absolute;
  left:2px;
  top:74px;
  width:142px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:259px;
  top:30px;
  width:120px;
  height:163px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:163px;
}
#u26 {
  position:absolute;
  left:2px;
  top:74px;
  width:116px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:379px;
  top:30px;
  width:129px;
  height:163px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:163px;
}
#u28 {
  position:absolute;
  left:2px;
  top:74px;
  width:125px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:508px;
  top:30px;
  width:139px;
  height:163px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:163px;
}
#u30 {
  position:absolute;
  left:2px;
  top:74px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:193px;
  width:113px;
  height:154px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:154px;
}
#u32 {
  position:absolute;
  left:2px;
  top:69px;
  width:109px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:113px;
  top:193px;
  width:146px;
  height:154px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:154px;
}
#u34 {
  position:absolute;
  left:2px;
  top:69px;
  width:142px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:259px;
  top:193px;
  width:120px;
  height:154px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:154px;
}
#u36 {
  position:absolute;
  left:2px;
  top:69px;
  width:116px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:379px;
  top:193px;
  width:129px;
  height:154px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:154px;
}
#u38 {
  position:absolute;
  left:2px;
  top:69px;
  width:125px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:508px;
  top:193px;
  width:139px;
  height:154px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:154px;
}
#u40 {
  position:absolute;
  left:2px;
  top:69px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:347px;
  width:113px;
  height:174px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:174px;
}
#u42 {
  position:absolute;
  left:2px;
  top:79px;
  width:109px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:113px;
  top:347px;
  width:146px;
  height:174px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:174px;
}
#u44 {
  position:absolute;
  left:2px;
  top:71px;
  width:142px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:259px;
  top:347px;
  width:120px;
  height:174px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:174px;
}
#u46 {
  position:absolute;
  left:2px;
  top:79px;
  width:116px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:379px;
  top:347px;
  width:129px;
  height:174px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:174px;
}
#u48 {
  position:absolute;
  left:2px;
  top:79px;
  width:125px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:508px;
  top:347px;
  width:139px;
  height:174px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:174px;
}
#u50 {
  position:absolute;
  left:2px;
  top:79px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:521px;
  width:113px;
  height:180px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:180px;
}
#u52 {
  position:absolute;
  left:2px;
  top:82px;
  width:109px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:113px;
  top:521px;
  width:146px;
  height:180px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:180px;
}
#u54 {
  position:absolute;
  left:2px;
  top:82px;
  width:142px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:259px;
  top:521px;
  width:120px;
  height:180px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:180px;
}
#u56 {
  position:absolute;
  left:2px;
  top:82px;
  width:116px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:379px;
  top:521px;
  width:129px;
  height:180px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:180px;
}
#u58 {
  position:absolute;
  left:2px;
  top:82px;
  width:125px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:508px;
  top:521px;
  width:139px;
  height:180px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:180px;
}
#u60 {
  position:absolute;
  left:2px;
  top:82px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:596px;
  top:320px;
  width:114px;
  height:110px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:110px;
}
#u62 {
  position:absolute;
  left:2px;
  top:47px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:600px;
  top:472px;
  width:110px;
  height:118px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:118px;
}
#u64 {
  position:absolute;
  left:2px;
  top:51px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:600px;
  top:620px;
  width:120px;
  height:150px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:150px;
}
#u66 {
  position:absolute;
  left:2px;
  top:67px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:605px;
  top:800px;
  width:96px;
  height:130px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:130px;
}
#u68 {
  position:absolute;
  left:2px;
  top:57px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:216px;
  top:1011px;
  width:70px;
  height:30px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u70 {
  position:absolute;
  left:476px;
  top:1011px;
  width:70px;
  height:30px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u71 {
  position:absolute;
  left:75px;
  top:10px;
  width:650px;
  height:80px;
  font-size:20px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:80px;
}
#u72 {
  position:absolute;
  left:2px;
  top:28px;
  width:646px;
  word-wrap:break-word;
}
