body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:716px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:342px;
  top:122px;
  width:97px;
  height:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:66px;
  top:136px;
  width:145px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:24px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:115px;
  top:172px;
  width:200px;
  height:22px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5 {
  position:absolute;
  left:66px;
  top:172px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:516px;
  top:174px;
  width:200px;
  height:22px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8 {
  position:absolute;
  left:467px;
  top:174px;
  width:49px;
  height:18px;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:66px;
  top:260px;
  width:655px;
  height:695px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:113px;
  top:0px;
  width:147px;
  height:30px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:260px;
  top:0px;
  width:120px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:380px;
  top:0px;
  width:130px;
  height:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:510px;
  top:0px;
  width:140px;
  height:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:30px;
  width:113px;
  height:163px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:163px;
}
#u22 {
  position:absolute;
  left:2px;
  top:74px;
  width:109px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:113px;
  top:30px;
  width:147px;
  height:163px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:163px;
}
#u24 {
  position:absolute;
  left:2px;
  top:74px;
  width:143px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:260px;
  top:30px;
  width:120px;
  height:163px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:163px;
}
#u26 {
  position:absolute;
  left:2px;
  top:74px;
  width:116px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:380px;
  top:30px;
  width:130px;
  height:163px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:163px;
}
#u28 {
  position:absolute;
  left:2px;
  top:74px;
  width:126px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:510px;
  top:30px;
  width:140px;
  height:163px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:163px;
}
#u30 {
  position:absolute;
  left:2px;
  top:74px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:193px;
  width:113px;
  height:154px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:154px;
}
#u32 {
  position:absolute;
  left:2px;
  top:69px;
  width:109px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:113px;
  top:193px;
  width:147px;
  height:154px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:154px;
}
#u34 {
  position:absolute;
  left:2px;
  top:69px;
  width:143px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:260px;
  top:193px;
  width:120px;
  height:154px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:154px;
}
#u36 {
  position:absolute;
  left:2px;
  top:69px;
  width:116px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:380px;
  top:193px;
  width:130px;
  height:154px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:154px;
}
#u38 {
  position:absolute;
  left:2px;
  top:69px;
  width:126px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:510px;
  top:193px;
  width:140px;
  height:154px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:154px;
}
#u40 {
  position:absolute;
  left:2px;
  top:69px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:347px;
  width:113px;
  height:174px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:174px;
}
#u42 {
  position:absolute;
  left:2px;
  top:79px;
  width:109px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:113px;
  top:347px;
  width:147px;
  height:174px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:174px;
}
#u44 {
  position:absolute;
  left:2px;
  top:79px;
  width:143px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:260px;
  top:347px;
  width:120px;
  height:174px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:174px;
}
#u46 {
  position:absolute;
  left:2px;
  top:79px;
  width:116px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:380px;
  top:347px;
  width:130px;
  height:174px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:174px;
}
#u48 {
  position:absolute;
  left:2px;
  top:79px;
  width:126px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:510px;
  top:347px;
  width:140px;
  height:174px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:174px;
}
#u50 {
  position:absolute;
  left:2px;
  top:79px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:521px;
  width:113px;
  height:169px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:169px;
}
#u52 {
  position:absolute;
  left:2px;
  top:76px;
  width:109px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:113px;
  top:521px;
  width:147px;
  height:169px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:169px;
}
#u54 {
  position:absolute;
  left:2px;
  top:76px;
  width:143px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:260px;
  top:521px;
  width:120px;
  height:169px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:169px;
}
#u56 {
  position:absolute;
  left:2px;
  top:76px;
  width:116px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:380px;
  top:521px;
  width:130px;
  height:169px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:169px;
}
#u58 {
  position:absolute;
  left:2px;
  top:76px;
  width:126px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:510px;
  top:521px;
  width:140px;
  height:169px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:169px;
}
#u60 {
  position:absolute;
  left:2px;
  top:76px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:589px;
  top:321px;
  width:110px;
  height:110px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u62 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:591px;
  top:473px;
  width:106px;
  height:118px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:118px;
}
#u64 {
  position:absolute;
  left:2px;
  top:51px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:591px;
  top:621px;
  width:115px;
  height:150px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:150px;
}
#u66 {
  position:absolute;
  left:2px;
  top:67px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:598px;
  top:810px;
  width:92px;
  height:130px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:130px;
}
#u68 {
  position:absolute;
  left:2px;
  top:57px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:649px;
  top:1040px;
  width:67px;
  height:30px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u70 {
  position:absolute;
  left:66px;
  top:10px;
  width:650px;
  height:80px;
  font-size:20px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:80px;
}
#u71 {
  position:absolute;
  left:2px;
  top:28px;
  width:646px;
  word-wrap:break-word;
}
