body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:810px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:160px;
  top:20px;
  width:650px;
  height:80px;
  font-size:20px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:80px;
}
#u1 {
  position:absolute;
  left:2px;
  top:28px;
  width:646px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:370px;
  top:343px;
  width:100px;
  height:35px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u3 {
  position:absolute;
  left:321px;
  top:208px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:321px;
  top:268px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:400px;
  top:306px;
  width:60px;
  height:16px;
}
#u8 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u7_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9 {
  position:absolute;
  left:470px;
  top:306px;
  width:60px;
  height:16px;
}
#u10 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u9_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11 {
  position:absolute;
  left:490px;
  top:362px;
  width:100px;
  height:16px;
}
#u12 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u11_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13 {
  position:absolute;
  left:380px;
  top:208px;
  width:200px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14 {
  position:absolute;
  left:380px;
  top:265px;
  width:200px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15 {
  position:absolute;
  left:380px;
  top:140px;
  width:169px;
  height:28px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:28px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
